body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  text-align: center;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
  border: 1px solid black;
	margin-bottom: 2em;
}

.buttons-div {
	display: flex;
	justify-content: space-evenly;
	width: 600px;
}

.buttons-div > button {
	background-color: black;
	border: 1px solid black;
	color: white;
	width: 9em;
	height: 4em;
	border-radius: 10px;
	cursor: pointer;
}